@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
font-family: Roboto;
line-height: 1.5rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

button:hover {
  background-color: #71c1e3;
}

h1 {
  margin-top: 2rem;
}

.internal-pages-pic {
  max-width: 250px;
  max-height: 100px;
}

h2 {
  margin-top: 3rem;
}

.last-paragraph {
  margin-bottom: 5rem;
}

p {
  padding-top: 1rem;
}

.nav-list {
  list-style-type: none;
}


/**
* Test Responsive Layout
*/

.header { 
  grid-column: 1 / -1;
  display: grid; 
  grid-template-columns: 7vw 1fr 10fr 1fr 2vw; 
  grid-template-rows: 70px auto; 
  align-items: center; 
}

.logo { 
  grid-column: 2; 
} 

.logo img { 
  display: block; 
  max-height: 70px; 
}

.main-nav { 
  grid-column: 3; 
} 

.hamburger { 
  grid-column: 4; 
  justify-self: end; 
  display: none;
}

.main-nav ul { 
  display: grid; 
  grid-template-columns: repeat(6, 1fr); 
  justify-items: center; 
}

.wrapper2 {
display: grid;
margin: 0 20% 0 20%;
grid-template-columns: 1fr 1fr 1fr;
grid-row-gap: 2rem;
}
.hamburger-size {
  max-width: 60px;
}

.logo-size {
  max-width: 100px;
}

.navigation {
grid-column: 1 / -1;
display: grid;
grid-template-columns: repeat(autofill, minmax(100px, 300px));
grid-template-rows: 1fr;
}

.picture {
grid-column: 1/ 2;
padding: 0 0 0 0;
margin: 2rem 0 0 0;
min-width: 250px;
max-width: 350px;
}

.page-copy {
grid-column: 1/ -1;
}

.pm-graphs {
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;

}

.footer2 {
  display: grid;
  padding-top: 2rem;
  padding-left: 30%;
  padding-right: 30%;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #dfdfe1;
  justify-items: center;
}

.footer-note {
  grid-column: 1 / -1;
}

.pm-profile-diagram {
  min-height: 100px;
  min-width: 100px;
  max-height: 350px;
  max-width: 350px;

}

.social-link {
  max-width: 50px;
}

.use-case-box {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.use-case {
  grid-column: 2 / 3;
}

.resources {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.resources-one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-items: center;
}

.resources-two {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-items: center;
}

.resources-three {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-items: center;
}

@media (max-width: 1100px) {
 .wrapper2 {
  margin: 0 10% 0 10%;
 }

 .social-link {
  max-width: 40px;
}
}

@media (max-width: 810px) {
.resources {
  grid-template-columns: 0fr 1fr 0fr;
}

.resources-one {
  grid-column: 2 / 3;
}

.resources-two {
  grid-column: 2 / 3;
}

.resources-three {
  grid-column: 2 / 3;
}

.main-nav { 
  grid-row: 2; 
  grid-column: 2 / 5; 
  display: none;
  } 
  .main-nav ul a { 
    color: black; 
  }

  .hamburger {
    display: block;
  }

  .main-nav ul { 
    grid-template-columns: 1fr; 
    height: calc(80vh - 70px); 
    align-content: space-evenly; 
  }

 .wrapper2 {
  margin: 0 5% 0 5%;
 }
 .pm-graphs {
  grid-template-columns: repeat(1, 1fr);
 }
 .pm-profile-diagram {
  max-width: 300px;
}

.footer2{
  padding-left: 5%;
  padding-right: 5%;
}
.social-link {
  max-width: 30px;
}

.use-case-box {
  display: grid;
  grid-template-columns: 0fr 12fr 0fr;
}

.reach-out {
  font-size: 0.5rem;
}
}
/**
* End of test Responsive Layout
*/

/**
* CSS Grid Layout Home
*/
.container-home {
   display: grid;
   grid-template-columns: 20% 60% 20%;
   grid-template-rows: auto auto auto auto auto auto;
   margin:0px;
        padding:0px;
        min-width:100%;
        max-width:100%;
 }

 .nav {
    grid-row: 1 / 2;
    grid-column: 2 /4;
}

.profile-pic {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .reach-out {
   grid-row: 2 / 3;
  grid-column: 3 /4;
}

.reach-out-style {
  font-size: 1rem;
  background-color: white;
  
  border: 2px solid #2cb5ce;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  font: inherit;
  color: black;
  min-width: 60px;

}

  .content {
    grid-row: 3 / 4;
    grid-column: 2 /3;
}

.pm-profile {
    grid-row: 4 / 5;
    grid-column: 2 /3;

  }




/**
* End of CSS Grid Layout
*/

/**
* CSS Grid Layout Internal Pages
*/
.container-internal-page {
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   grid-template-rows: auto auto auto auto auto auto;
   grid-column-gap: 10px;
   margin:0px;
   padding:0px;
        min-width:100%;
        max-width:100%;
 }

 .intro-paragraph {
    grid-row: 3 / 4;
    grid-column: 2 / 5;
 }

.section-user-need-heading {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.section-user-need {
    grid-row: 4 / 5;
    grid-column: 3 / 5;
 }

.section-prototype-heading {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}

.section-prototype {
    grid-row: 5 / 6;
    grid-column: 3 / 5;
 }


.section-use-case-heading {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
}

.section-use-case {
    grid-row: 6 / 7;
    grid-column: 3 / 5;
 }

 .social-links {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
}

 .footer {
  grid-row: 7 / 8;
  grid-column: 2 / 5;
  align-content: center;

 }

/**
* End of CSS Grid Layout Approac
*/

/**
* Footer
**/

.container-footer {
   display: grid;
   grid-template-columns: 20% 60% 20%;
   grid-template-rows: auto auto auto auto auto auto;
   background-color: #dfdfe1;
   margin:0px;
   padding:0px;
   min-width:100%;
   max-width:100%;
 }

.social-links {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.social-links-container {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr; 
   grid-template-rows: auto;
   align-self: center;
}

 .footer {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  align-content: center;

 }
 .size-social-links {
    height: 50px;
}

.social-item {
  grid-row: 3 / 4;
  align-self: center;
}

/**
* End of Footer
**/


.margin-bottom {
  margin-bottom: 1.5rem;
}

.nav-active {
  text-shadow: 1px 1px grey;
}

.nav-container {
  display: grid;
   grid-template-columns: repeat(5, 1fr); 
   grid-template-rows: auto;
   align-self: center;
   list-style: none;
}

.nav-item {
  height: 1.5rem;
  width: 1.5rem;
  align-self: center;
}

.nav-item-one {
order: 1;
}
.nav-item-two {
order: 2;  
}
.nav-item-three {
order: 3;  
}
.nav-item-four {
order: 4;  
}
.nav-item-five {
order: 5;  
} 

.size-profile-pic {
    height: 150px;
    width: 150px;
  }




 