@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
font-family: Roboto;
line-height: 1.5rem;
}

a {
  text-decoration: none;
}

/**
* CSS Grid Layout Home
*/
.container-home {
   display: grid;
   grid-template-columns: 20% 60% 20%;
   grid-template-rows: auto auto auto auto auto auto;
   margin:0px;
        padding:0px;
        min-width:100%;
        max-width:100%;
 }

 .nav {
    grid-row: 1 / 2;
    grid-column: 2 /4;
}

.profile-pic {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .reach-out {
   grid-row: 2 / 3;
  grid-column: 3 /4;
}

  .content {
    grid-row: 3 / 4;
    grid-column: 2 /3;
}

.pm-profile {
    grid-row: 4 / 5;
    grid-column: 2 /3;
}

.pm-profile-diagram {
  height: 350px;
  width: 350px;
}

/**
* End of CSS Grid Layout
*/

/**
* CSS Grid Layout Internal Pages
*/
.container-internal-page {
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   grid-template-rows: auto auto auto auto auto auto;
   grid-column-gap: 10px;
   margin:0px;
   padding:0px;
        min-width:100%;
        max-width:100%;
 }

 .intro-paragraph {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
 }

.section-user-need-heading {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.section-user-need {
    grid-row: 3 / 4;
    grid-column: 3 / 5;
 }

.section-prototype-heading {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.section-prototype {
    grid-row: 4 / 5;
    grid-column: 3 / 5;
 }


.section-use-case-heading {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}

.section-use-case {
    grid-row: 5 / 6;
    grid-column: 3 / 5;
 }

 .social-links {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}

 .footer {
  grid-row: 6 / 7;
  grid-column: 2 / 5;
  align-content: center;

 }

/**
* End of CSS Grid Layout Approac
*/

/**
* Footer
**/

.container-footer {
   display: grid;
   grid-template-columns: 20% 60% 20%;
   grid-template-rows: auto auto auto auto auto auto;
   background-color: #dfdfe1;
   margin:0px;
   padding:0px;
   min-width:100%;
   max-width:100%;
 }

.social-links {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.social-links-container {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr; 
   grid-template-rows: auto;
   align-self: center;
}



 .footer {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  align-content: center;

 }
 .size-social-links {
    height: 50px;
}

.social-item {
  grid-row: 3 / 4;
  align-self: center;
}

/**
* End of Footer
**/


.margin-bottom {
  margin-bottom: 1.5rem;
}

.nav-active {
  text-shadow: 1px 1px grey;
}

.nav-container {
  display: grid;
   grid-template-columns: repeat(5, 1fr); 
   grid-template-rows: auto;
   align-self: center;
   list-style: none;
}

.nav-item {
  height: 1.5rem;
  width: 1.5rem;
  align-self: center;
}

.nav-item-one {
order: 1;
}
.nav-item-two {
order: 2;  
}
.nav-item-three {
order: 3;  
}
.nav-item-four {
order: 4;  
}
.nav-item-five {
order: 5;  
} 

.size-profile-pic {
    height: 150px;
    width: 150px;
  }




 